<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


    

</head>
<body>
    <div class="main w-full min-h-screen p-10 bg-zinc-900 text-white">
        <a class="text-blue-500 inline-block mb-10" href="/">Go Back To Home</a>
        <div class="form p-10">
            <form action="/edit" method="post" class="text-white">
                <input class="block mt-2  w-1/4 rounded-md outline-none px-5 py-2 bg-zinc-500 " name="previeus" type="text" placeholder="Previeus name" value="<%= filename %> ">
                <input class="block mt-2 w-1/4 rounded-md outline-none px-5 py-2 bg-zinc-500 " name="new" type="text" placeholder="enter new name">
            
                <input class="mt-2 bg-yellow-500 px-5 py-3 rounded-md" type="submit" value="Update Name">
            </form>
             
        </div>
        
    </div>
</body>
</html>